@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --font-family: apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 
  'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

.navbar {
  display: flex;
  height: 4rem;
  padding: 0.9rem 0 0.9rem 2rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  max-width: 8.5rem;
}

.container {
  width: 100%;
}

.container .hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 1.5rem;
}

.hero-image img {
  width: 40rem;
}

.container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}